*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background-size: 100vh;
    background-color: rgb(220, 220, 220);
    margin: 0 auto;
    width: 1280px;
    min-height: 100vh;
    min-width: 100vh;
}
.all{
    width: 400px;
    margin-left: 200px;
}
h3{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.inner{
    padding-top: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.forDf{
    margin-top: 35px;
    display: flex;
    height: fit-content;
    width: 300px;
}
.todo{
    border-radius: 7.4px;
    background-color: aliceblue;
    width: 400px;
    line-break: anywhere;
    display: flex;
    margin-bottom: 11px;
}
.todoText{
    width: 300px;
}
form{
    margin-bottom: 14px;
}
button{
    cursor: pointer;
}
.todoText.done{
    text-decoration: line-through;
}
.for{
    font-size: 14px;
    max-height: 40px;
    display: inline-grid;
}
.ny{
    display: flex;
}
.container{
    margin: 0 auto;
    width: 1200px;
}